.input {
  display: flex;

  padding: 7px;

  border-style: none;
  border-radius: 3px;
  width: 600px;

  font-size: 18px;
  box-shadow: inset 0px 0px 5px -2px #000000;
  background-color: #f5f5f5;
}

.label {
  margin: 20px 0px 2px 0px;
  display: flex;
  font-size: 23px;
}

.button {
  display: flex;
  justify-content: center;

  margin-top: 25px;
  width: 125px;
  padding: 10px;
  border-radius: 3px;
  border-style: none;

  font-size: 20px;
  color: var(--detail-font-color);
  text-decoration: none;

  background-color: var(--detail-color);
  box-shadow: inset 0px 0px 5px -2px #000000;
}

.loginRegisterError{
  color: red;
}

.filterbar-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.filterbar-container a{
  color: whitesmoke;
}

.filterbar-container a:not(:last-child){
  border-right: 2px solid grey;
  padding: 2px;
}

.filterbar-container a:last-child{
  border-right: 2px solid white;
  padding: 1px;
  margin: 1px;
}

.fa-angle-down path{
  color: lime;
}

.fa-angle-up path{
  color: red;
}

.fa-chevron-left path{
  color: white
}

.fa-chevron-right path{
  color: white;
}

